<p>You have been succesfully registered. Thank you!</p>
<p>Now you use next commands to work with you bit coin wallet</p>
<ul> Wallet
	<li>/wallet ballance</li>
</ul>
<ul> BTC
	<li>/btc new user_name payment_info amount </li>
</ul>